@charset "utf-8";

@-moz-viewport { width: device-width; scale: 1; }
@-ms-viewport { width: device-width; scale: 1; }
@-o-viewport { width: device-width; scale: 1; }
@-webkit-viewport { width: device-width; scale: 1; }
@viewport { width: device-width; scale: 1; }

* {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

html {
	-moz-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
	text-size-adjust: 100%;
    
    font-size: 100%;
}

img {
	width: 100%;
    display: block;
}

img {
	width: 100%;
    display: block;
}

body {
    margin: 0;
}

header {
    overflow: hidden;
    position: absolute;
    background-image: url(../images2/wood.jpg);
    background-size: 100%;
    width: 100%;
}

.nav-top {
    clear: both;
}

.nav-top ul {
    margin: 0;
    padding: 0;
    background-color: lightblue;
    text-align: center;
}

.nav-top li {
    margin: 0;
    padding: 0;
    display: inline;
}

.nav-top a,
.nav-top a,link
.nav-top a,visited {
    display: inline-block;
    margin: 0;
    padding: 1.5rem 10%;
    color: white;
    font-size: 1.25rem;
    text-decoration: none;
}

.selected {
    background-color: #666;
}

.logo {
    width: 7rem;
    height: auto;
    float: left;
    margin: .25rem 1%;
}

.billboard {
    background-image: url(../images2/billboard.jpg);
    overflow: hidden;
    background-position: bottom;
    background-size: 100%;
    padding: 15rem 5%;
}

h1 {
    margin: 0;
    padding: 1.5rem 5%;
    color: white;
    font-family: 'Sonsie One', cursive;
    position: absolute;
    overflow: hidden;
    background-color: rgba(255, 255, 255, .3);
    bottom: 22rem;
}

.graphictee {
    background-repeat: no-repeat;
    background-position: top;
    background-size: 75rem;
    margin: 0;
    padding: 1.5rem 5%;
}

h2 {
    margin: 0;
    padding: 1.5rem 5%;
    color: white;
    font-family: 'Tienne', serif;
    position: absolute;
    bottom: 2rem;
    float: left;
    overflow: hidden;
    background-color: rgba(64, 85, 101, .5);
}

.blouse {
    background-repeat: no-repeat;
    background-position: top;
    background-size: 75rem;
    margin: 0;
    padding: 1.5rem 5%;
}

h3 {
    margin: 0;
    padding: 1.5rem 5%;
    color: white;
    font-family: 'Tienne', serif;
    position: absolute;
    top: 63rem;
    float: left;
    overflow: hidden;
    background-color: rgba(64, 85, 101, .5);
}

.colouredtees {
    background-repeat: no-repeat;
    background-position: top;
    background-size: 75rem;
    margin: 0;
    padding: 1.5rem 5%;
}

h4 {
    margin: 0;
    padding: 1.5rem 5%;
    color: white;
    font-family: 'Tienne', serif;
    position: absolute;
    top: 91rem;
    float: right center;
    overflow: hidden;
    background-color: rgba(64, 85, 101, .5);
}

.billboardabout {
    background-image: url(../images2/billboard-about.jpg);
    overflow: hidden;
    background-color: black;
    background-position: center bottom;
    background-size: 75rem;
    padding: 15rem 5%;
}

.store {
    background-repeat: no-repeat;
    background-position: top;
    background-size: 75rem;
    margin: 0;
    padding: 1.5rem 5%;
}

.owner {
    background-repeat: no-repeat;
    background-position: top;
    background-size: 75rem;
    margin: 0;
    padding: 1.5rem 5%;
    top: 65rem;
}

.about {
    margin: 0rem;
    padding: 1.5rem 5%;
    position: absolute;
    top: 48rem;
    color: black;
    font-family: 'Tienne', serif;
}

.owner-text {
    position: absolute;
    top: 81.5rem;
    right: 14rem;
    width: 455px;
    color: black;
    font-family: 'Tienne', serif;
} 
    
footer {
    background-color: rgba(64, 85, 101, .99);
    overflow: hidden;
    width: 100%;
    height: auto;
    top: 100rem
}

footer h5 {
    margin: 1.5rem 5%;
    color: white;
    font-size: 1.5rem;
}

footer img {
    height: 3.5rem;
}

footer p {
    margin: 1.5rem 5%;
    color: white;
    font-size: 1rem;
    width: 117px;
    height: 100px
}













